extends layout

block content
  include bb-home

  script(src='/javascripts/controllers/bb.js')
  script(src='/javascripts/master-data-manager.js')
  script(src='/bower_components/moment/min/moment.min.js')
